[MASTER]
ignore=venv
jobs=1
load-plugins=pylint_django
django-settings-module="core_name.settings"
persistent=yes

[MESSAGES CONTROL]
disable =
    missing-docstring,
    too-few-public-methods,
    too-many-arguments,
    too-many-locals

[FORMAT]
max-line-length=100

[DESIGN]
max-args=5
max-locals=15

[REPORTS]
output-format = colorized
